.leftSideBar {
  border-right: solid  black;
  border-width: "100";
  background-color: "1abc9c";
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1000px;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

.section-title {
  text-align: center;
}

.Messages {
  margin-left: 300px;
}

.Groups {

}
